{% extends 'base.html.twig' %}



{% block title %}Inicio de sesión
{% endblock %}

{% block body %}

	<header>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<img src="/images/logo.svg" style="width: 6%;">
				<a class="navbar-brand " href="#">
					<h1>ADIST</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"></li>
						<li class="nav-item ms-5 bienvenido">
						¡Bienvenido a nuestra aplicación!
						</li>
					</ul>
				</div>
				<div>
					<a class="d-flex nav-link" href="{{ path('app_logout') }}">
						<span style="color: red;">Cerrar Sesión</span>
					</a>
				</div>
			</nav>
		</header>

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<html>
				<body>
					<div class="container">
						<h1 class="h3 mb-3 font-weight-normal mt-4">Iniciar sesión</h1>
						<div class="row">

							<div class="col-12">
								<label for="inputEmail">Email:</label>
							</div>

							<div class="col-12">
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>

							<div class="col-12">
								<div id="emailHelpBlock" class="form-text">
									Su email debe tener la siguiente estructura:
									<span style="font-style: italic">ejemplo</span>@gmail.com</div>
							</div>

							<div class="col-12">
								<label for="inputPassword">Contraseña:</label>
							</div>

							<div class="col-12 mb-3">
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							{# Meter validación #}
								{# <div id="passwordHelpBlock" class="form-text"> Su contraseña debe tener entre 8-20 caracteres de longitud, contener letras y números.</div> #}
							</div>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-lg btn-primary" type="submit">Iniciar</button>

					</div>
				</body>
			</html>
		</form>


	{% endblock %}
