{% extends 'base.html.twig' %}

{% block title %}Inicio de sesión
{% endblock %}

{% block nav %}{% endblock %}
{% block body %}
	<body style="background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="container">
				<div class="row mt-5">
					<div class="col-md-6 mt-5">

						<div class="card mt-5">
							<div class="card-body d-flex flex-column">
								<h1 class="h3 mb-3 mt-4 mb-5 text-center">Iniciar sesión</h1>
								<div class="row">

									<div class="col-12 mt-2 mb-3">
										<label for="inputEmail" class="formulario">Email:</label>
									</div>

									<div class="col-12 mb-3">
										<input placeholder="&#xf0e0" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mainLoginInput" autocomplete="email" required autofocus>
									</div>

									<div class="col-12 mb-4">
										<div id="emailHelpBlock" class="form-text">
											Su email debe tener la siguiente estructura:
											<span style="font-style: italic">ejemplo</span>@gmail.com
										</div>
									</div>

									<div class="col-12 mb-3">
										<label for="inputPassword">Contraseña:</label>
									</div>

									<div class="col-12 mb-3">
										<input placeholder="&#61475" type="password" name="password" id="inputPassword" class="form-control mainLoginInput mb-3" autocomplete="current-password" required>

										<div id="passwordHelpBlock" class="form-text mb-3">
											Su contraseña debe tener entre 8-20 caracteres de longitud, contener letras y números.
										</div>
									</div>
								</div>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


								<button class="btn btn-lg btn-primary" type="submit" id="iniciar">Iniciar</button>
							</div>
						</div>

					</div>
					<div class="col-md-6 mt-5">
						<div class="card mt-5">
							<img src="/images/imagenLogo.jpg" alt="Snow" style="width:100%;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>

{% endblock %}