{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="mb-3">
		Te has logeado como
		{{ app.user.username }},
		<a href="{{ path('app_logout') }}">Salir</a>
	</div>

    <div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:

		</div>

	{% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_register') }}">Crear usuario</a>
		<h2>SOLO ADMINS PUEDEN ENTRAR AQUI</h2>

	{% endif %}

	{% if (is_granted('ROLE_REPARTIDOR') or is_granted('ROLE_ADMIN')) %} {# || es or en twig#}

		<h2>SOLO REPARTIDORES PUEDEN ENTRAR AQUI</h2>

	{% endif %}
    {% if (is_granted('ROLE_ALMACENISTA') or is_granted('ROLE_ADMIN')) %}

		<h2>SOLO ALMACENISTAS PUEDEN ENTRAR AQUI</h2>

	{% endif %}

{% endblock %}
