{% extends 'base.html.twig' %}


{% block body %}
	<div>
		<a type="submit" onclick="history.back()" class="ms-3 mt-3">
			<span style="color: blue;">&laquo;</span>
			<span class="ms-2" style="color: blue;">Volver</span>
		</a>
	</div>

	<main role="main">
		<div class="container-lg">
			<div class="row">
				<div class="table-responsive">
					<div class="table-wrapper">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-8 mb-5">
									<h2>Lista de
										<b>Pedidos</b>
									</h2>
								</div>
							</div>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Tienda</th>
									<th>Dirección</th>
									<th>Producto</th>
								</tr>
							</thead>
							<tbody>


								{% for pedido in pedidos %}

									<tr>
										<td>{{pedido.tienda.nombre}}</td>
										<td>{{pedido.tienda.direccion}}</td>
										<td>
											{% for producto in pedido.producto %}
												-
												{{producto.nombre}}<br><br>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
