{% extends 'base.html.twig' %}


{% block body %}


	<main role="main">
		<div class="container-lg">
			<div class="row">
				<div class="table-responsive">
					<div class="table-wrapper">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-8 mb-5">
									<h2>Lista de
										<b>Pedidos</b>
									</h2>
								</div>
							</div>
						</div>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Precio</th>
									<th>Stock</th>
								</tr>
							</thead>
							<tbody>


								{% for pedido in pedidos %}

									<tr>
										<td>{{pedido.pedido_producto.producto.nombre}}</td>
									</tr>

								{% endfor %}


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
