{% extends 'base.html.twig' %}


{% block body %}

	<header>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			<img src="/images/logo.svg" style="width: 6%;">
				<a class="navbar-brand " href="#">
					<h1>ADIST</h1>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"></li>
						<li class="nav-item">
							<a class="nav-link">Rol:
								<span style="color: green;">Administrador</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link">Lista de usuarios
							</a>
						</li>
					</ul>
				</div>
				<div>
					<a class="d-flex nav-link" href="{{ path('app_logout') }}">
						<span style="color: red;">Cerrar Sesión</span>
					</a>
				</div>
			</nav>
		</header>

		<div>
			<a type="submit" onclick="history.back()" class="ms-3 mt-3">
				<span style="color: blue;">&laquo;</span>
				<span class="ms-2" style="color: blue;">Volver</span>
			</a>
		</div>


		MOSTRAR LISTA DE USUARIOS CON FUNCIÓN DE ELIMINAR


	{% endblock %}
